<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>Login Demo</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/bootstrap-responsive.css">
    <!--link rel="stylesheet" href="../../libs/angular-ui/angular-ui.css"></script--> 
  </head>
  <style>
  .aid label{
    color: white;
    background-color: black;
    padding: 0.5em
  }
  </style>
  <body ng-app="loginDemo" 
        ng-controller="LoginMainCtrl"
        ng-focus="setFocus('blank')"
        class="container">
    <div class="row"> 
      <div class="span3">
        <div><button ng-show="!hideDB" ng-click="hideDB=!hideDB">
              Hide DB</button>
             <button ng-show="hideDB" ng-click="hideDB=!hideDB">
              Show DB</button></div>
        <div ng-show="!hideDB">
          <ul><li ng-repeat="u in allUsers">
            user: {{u[0]}}, pass: {{u[1]}}
          </li></ul>
        </div>
      </div>

      <div class="span4 offset1" 
           style="border:1px dotted yellow; padding-top: 100px; position: relative">
        <div class="centered">
          <div heading-one>The Vault</div heading-one>
        </div>
        <p ng-bind="render(app.statusMsg[status])" class="centered"></p>
        <form ng-hide="status=='loggedIn'">
          <input type="text" placeholder="Login" ng-model="loginText" on-focus="focus='login-input'"/>
          <input type="password" placeholder="Password" ng-model="passwordText" on-focus="focus='password-input'"/>
          <br></br>
          <button class="btn" type="submit" 
                ng-click="login(loginText, passwordText)">Login</button>
          <br/><br/><br/><br/>
          <div class="aid" style="width:250px">
               <label ng-show="focus=='login-input'">
                Please Enter Your Username</label>    
               <label ng-show="focus=='password-input'">
                Please Enter Your Password</label></div>
        </form>    
        <div ng-hide="status!=='loggedIn'">
          <p><br/>YOUR SECRET IS SAFE<br/></p>
          <div><button class="btn" type="submit"
                       ng-click="logout()">Logout</button></div>
        </div>
        </div>
      </div>
    </div>
    <script src="js/angular.js"></script>
    <script src="js/mustache.js"></script>
    <script src="js/angular-example.js"></script>
    <!-- endbuild -->

  </body>
</html>
