<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>Todo Demo</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/bootstrap-responsive.css">
    <style>
    .todo-done {
      text-decoration: line-through;
      color: grey;
    }
    </style>
  </head>
  <body ng-app="todoDemo" 
        ng-controller="TodoMainCtrl"
        class="container">    
    <div class="span4 offset2" 
         style="border:1px dotted yellow; padding-top: 100px">
      <div class="centered">
        <h1>Todo List</h1>
        <span>{{remainingTodos()}} of {{todos.length}} remaining</span>
        <ul class="unstyled">
          <li ng-repeat="t in todos">
            <input type="checkbox" ng-model=t.done>
            <span ng-class="{'todo-done': t.done}">{{t.text}}
          <li>
          </ul>
      </div>
    </div>
    
    <div class="span4" 
         style="border:1px dotted yellow; padding-top: 160px">
      <form ng-submit="addTodo()">
        <input type="text" placeholder="Add New Todo" ng-model="newTodo"></input>
        <br>
        <button class="btn" type="submit">Add</button>
        <button class="btn" ng-click="clearCompletedTodos()">Clear Done</button>
      </form>
    </div>

    <script src="js/angular.js"></script>
    <script src="js/mustache.js"></script>
    <script src="js/angular-example.js"></script>
    <!-- endbuild -->

  </body>
</html>
